{% extends 'bases/base.html' %}
{% load static %}
{% block body %}
{% include 'bases/navbar.html'%}
<div style="background-color: #fff; margin-top: 5rem;">
    <div class="container" style="padding-bottom: 5rem;">
        <div style="padding: 4rem 0rem;">
    
        <section id="services" class="services">
            <div class="container">
    
                <div class="subs-prom">
    
                    <div class="centered">
                        <h2 style="color: #9d2449; margin-bottom: 2rem;" class="title-section">Autoridades de Mejora Regulatoria</h2>
                        </h3>
                    </div>

                    <div id="directorio"></div>
    
                    <div class="row" style="margin-bottom: 6rem;">

                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                            <div class="icon-box">
                                <h4 style="text-align: center;">Balancán</h4>
                                <div style="margin: 20px auto;">
                                    <h6><b><span style="color: #b38e5d;">Titular:</span> Mtro. Carlos Eduardo Turrubiarte Torres </b></h6>
                                    <h6><b><span style="color: #b38e5d;">Correo:</span> eduardo.turrubiarte@gmail.com</b></h6>
                                    <h6><b><span style="color: #b38e5d;">Teléfono:</span> 934 344 1135</b></h6>
                                    <h6><b><span style="color: #b38e5d;">Celular:</span> 9934262773</b></h6>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                            <div class="icon-box">
                                <h4 style="text-align: center;">Cárdenas</h4>
                                <div style="margin: 20px auto;">
                                    <h6><b><span style="color: #b38e5d;">Titular:</span> C.P. Arturo Córdova Córdova </b></h6>
                                    <h6><b><span style="color: #b38e5d;">Correo:</span> arturo.cordova.cordova@hotmail.com</b></h6>
                                    <h6><b><span style="color: #b38e5d;">Celular:</span> 993 426 9189</b></h6>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                            <div class="icon-box">
                                <h4 style="text-align: center;">Centla</h4>
                                <div style="margin: 20px auto;">
                                    <h6><b><span style="color: #b38e5d;">Titular:</span> Lic. Emanuel Sánchez de la Cruz </b></h6>
                                    <h6><b><span style="color: #b38e5d;">Correo:</span> sanz_aant@hotmail.com</b></h6>
                                    <h6><b><span style="color: #b38e5d;">Celular:</span> 913 403 9361</b></h6>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                            <div class="icon-box">
                                <h4 style="text-align: center;">Centro</h4>
                                <div style="margin: 20px auto;">
                                    <h6><b><span style="color: #b38e5d;">Titular:</span> Lic. Zoila Hermosinda Muñoz Baeza </span></b></h6>
                                    <h6><b><span style="color: #b38e5d;">Correo:</span> zoilam3@msn.com</span></b></h6>
                                    <h6><b><span style="color: #b38e5d;">Teléfono:</span> 993 314 80 72 EXT. 801</span></b></h6>
                                    <h6><b><span style="color: #b38e5d;">Celular:</span> 993 152 6002</span></b></h6>
                                    <h6 style="text-align: center; margin-top: 20px; color: #9d2449;"><b>Encargado del Módulo SARE:</b></h6>
                                    <h6><b><span style="color: #b38e5d;">Nombre:</span> July Karina Cabrales</span></b></h6>
                                    <h6><b><span style="color: #b38e5d;">Correo:</span> mejoraregulatoriacentro@gmail.com</span></b></h6>
                                </div>
                            </div>
                        </div>                        
                                                
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                            <div class="icon-box">
                                <h4 style="text-align: center;">Comalcalco</h4>
                                <div style="margin: 20px auto;">
                                    <h6><b><span style="color: #b38e5d;">Titular:</span> Lic. Daniel Alcudia Perez </b></h6>
                                    <h6><b><span style="color: #b38e5d;">Correo:</span> sare.daniel63@gmail.com danielalcudiaperez41@gmail.com</b></h6>
                                    <h6><b><span style="color: #b38e5d;">Celular:</span> 933 102 7035 / 9933 155 0998</b></h6>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                            <div class="icon-box">
                                <h4 style="text-align: center;">Cunduacán</h4>
                                <div style="margin: 20px auto;">
                                    <h6><b><span style="color: #b38e5d;">Titular:</span> Lic. María del Carmen Juárez Martínez </span></b></h6>
                                    <h6><b><span style="color: #b38e5d;">Correo:</span> marajuma67@gmail.com</span></b></h6>
                                    <h6><b><span style="color: #b38e5d;">Celular:</span> 914 118 5288</span></b></h6>
                                    <h6 style="text-align: center; margin-top: 20px; color: #9d2449;"><b>Encargado del Módulo SARE:</b></h6>
                                    <h6><b><span style="color: #b38e5d;">Nombre:</span> Lic. José Ives Almeida Ramos</span></b></h6>
                                    <h6><b><span style="color: #b38e5d;">Correo:</span> jose.ives2014@gmail.com</span></b></h6>
                                    <h6><b><span style="color: #b38e5d;">Celular:</span> 914 109 1140</span></b></h6>
                                </div>
                            </div>
                        </div>                        
                        
                        
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                            <div class="icon-box">
                                <h4 style="text-align: center;">Emiliano Zapata</h4>
                                <div style="margin: 20px auto;">
                                    <h6><b><span style="color: #b38e5d;">Titular:</span> Lic. Manuel Benigno Pavón Lezama </b></h6>
                                    <h6><b><span style="color: #b38e5d;">Correo:</span> nelopavon@gmail.com</b></h6>
                                    <h6><b><span style="color: #b38e5d;">Teléfono:</span> 934 343 2167</b></h6>
                                    <h6><b><span style="color: #b38e5d;">Celular:</span> 993 146 9555</b></h6>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                            <div class="icon-box">
                                <h4 style="text-align: center;">Huimanguillo</h4>
                                <div style="margin: 20px auto;">
                                    <h6><b><span style="color: #b38e5d;">Titular:</span> Lic. Darvelia Broca Escalante </b></h6>
                                    <h6><b><span style="color: #b38e5d;">Correo:</span> darve_2612@hotmail.com</b></h6>
                                    <h6><b><span style="color: #b38e5d;">Teléfono:</span> 917 375 0343</b></h6>
                                    <h6><b><span style="color: #b38e5d;">Celular:</span> 9371674741</b></h6>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                            <div class="icon-box">
                                <h4 style="text-align: center;">Jalapa</h4>
                                <div style="margin: 20px auto;">
                                    <h6><b><span style="color: #b38e5d;">Titular:</span> Lic. Norma Yadira Méndez Hernández </b></h6>
                                    <h6><b><span style="color: #b38e5d;">Correo:</span> mejoraregulatoria21jalapa@gmail.com</b></h6>
                                    <h6><b><span style="color: #b38e5d;">Celular:</span> 932 102 6284</b></h6>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                            <div class="icon-box">
                                <h4 style="text-align: center;">Jalpa de Méndez</h4>
                                <div style="margin: 20px auto;">
                                    <h6><b><span style="color: #b38e5d;">Titular:</span> Lic. David Ruiz Hernández </b></h6>
                                    <h6><b><span style="color: #b38e5d;">Correo:</span> davidlic1107@gmail.com / mejoraregulatoriajalpademendez@gmail.com</b></h6>
                                    <h6><b><span style="color: #b38e5d;">Celular:</span> 993 398 5843</b></h6>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                            <div class="icon-box">
                                <h4 style="text-align: center;">Jonuta</h4>
                                <div style="margin: 20px auto;">
                                    <h6><b><span style="color: #b38e5d;">Titular:</span> Lic. Enrique Ramírez Pérez </b></h6>
                                    <h6><b><span style="color: #b38e5d;">Correo:</span> enriqueram94@outlook.com</b></h6>
                                    <h6><b><span style="color: #b38e5d;">Celular:</span> 913 102 9991</b></h6>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                            <div class="icon-box">
                                <h4 style="text-align: center;">Macuspana</h4>
                                <div style="margin: 20px auto;">
                                    <h6><b><span style="color: #b38e5d;">Titular:</span> Lic. Sofonías Silvan Ortiz </span></b></h6>
                                    <h6><b><span style="color: #b38e5d;">Correo:</span> coord.mejoraregulatoria@macuspana.gob.mx</span></b></h6>
                                    <h6><b><span style="color: #b38e5d;">Teléfono:</span> 936 362 0521</span></b></h6>
                                    <h6><b><span style="color: #b38e5d;">Celular:</span> 936 384 0901</span></b></h6>
                                    <h6 style="text-align: center; margin-top: 20px; color: #9d2449;"><b>Encargado del Módulo SARE:</b></h6>
                                    <h6><b><span style="color: #b38e5d;">Nombre:</span> Hernan Torres</span></b></h6>
                                    <h6><b><span style="color: #b38e5d;">Correo:</span> hernantorres7590@gmail.com</span></b></h6>
                                </div>
                            </div>
                        </div>
                                                                        
                        
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                            <div class="icon-box">
                                <h4 style="text-align: center;">Nacajuca</h4>
                                <div style="margin: 20px auto;">
                                    <h6><b><span style="color: #b38e5d;">Titular:</span> Lic. Ricardo Rodríguez Chan </b></h6>
                                    <h6><b><span style="color: #b38e5d;">Correo:</span> chan1303@hotmail.com</b></h6>
                                    <h6><b><span style="color: #b38e5d;">Celular:</span> 993 286 7445</b></h6>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                            <div class="icon-box">
                                <h4 style="text-align: center;">Paraíso</h4>
                                <div style="margin: 20px auto;">
                                    <h6><b><span style="color: #b38e5d;">Titular:</span> Lic. Audelino Guadalupe Pérez Valencia </span></b></h6>
                                    <h6><b><span style="color: #b38e5d;">Correo:</span> mejoraregulatoria.paraiso2021@gmail.com</span></b></h6>
                                    <h6><b><span style="color: #b38e5d;">Celular:</span> 933 102 5475</span></b></h6>
                                    <h6 style="text-align: center; margin-top: 20px; color: #9d2449;"><b>Encargado del Módulo SARE:</b></h6>
                                    <h6><b><span style="color: #b38e5d;">Nombre:</span> Carlos Roberto Javier Segura</span></b></h6>
                                    <h6><b><span style="color: #b38e5d;">Celular:</span> 933 325 0621</span></b></h6>
                                    <h6><b><span style="color: #b38e5d;">Correo:</span> jasc_1985@hotmail.com</span></b></h6>
                                    <h6><b><span style="color: #b38e5d;">Nombre:</span> Ariana Castellanos Ricardez</span></b></h6>
                                    <h6><b><span style="color: #b38e5d;">Depto. de Mejora Regulatoria</span></b></h6>
                                    <h6><b><span style="color: #b38e5d;">Celular:</span> 933 134 8961</span></b></h6>
                                    <h6><b><span style="color: #b38e5d;">Correo:</span> acastellano1810@gmail.com</span></b></h6>
                                </div>
                            </div>
                        </div>
                                               
                        
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                            <div class="icon-box">
                                <h4 style="text-align: center;">Tacotalpa</h4>
                                <div style="margin: 20px auto;">
                                    <h6><b><span style="color: #b38e5d;">Titular:</span> Lic. Mariela Vázquez Asencio </b></h6>
                                    <h6><b><span style="color: #b38e5d;">Correo:</span> dfeyt.mejoraregulatoria@gmail.com</b></h6>
                                    <h6><b><span style="color: #b38e5d;">Celular:</span> 993 391 4792</b></h6>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                            <div class="icon-box">
                                <h4 style="text-align: center;">Teapa</h4>
                                <div style="margin: 20px auto;">
                                    <h6><b><span style="color: #b38e5d;">Titular:</span> Ing. Fabiola Mendoza Jiménez </span></b></h6>
                                    <h6><b><span style="color: #b38e5d;">Correo:</span> fabimendoza@gmail.com fomento.teapa2124@gmail.com</span></b></h6>
                                    <h6><b><span style="color: #b38e5d;">Celular:</span> 932 105 7829</span></b></h6>
                                    <h6 style="text-align: center; margin-top: 20px; color: #9d2449;"><b>Encargado del Módulo SARE:</b></h6>
                                    <h6><b><span style="color: #b38e5d;">Nombre:</span> Mtro. Juan Pablo Juárez Guerra</span></b></h6>
                                    <h6><b><span style="color: #b38e5d;">Celular:</span> 993 138 7542</span></b></h6>
                                    <h6><b><span style="color: #b38e5d;">Cargo:</span> Enlace MR</span></b></h6>
                                    <h6><b><span style="color: #b38e5d;">Correo:</span> miateavi@yahoo.com.mx</span></b></h6>
                                    <h6><b><span style="color: #b38e5d;">Nombre:</span> Lic. Adrian López Jesús</span></b></h6>
                                    <h6><b><span style="color: #b38e5d;">Cargo:</span> Subdirector de Fomento Económico y Turismo</span></b></h6>
                                    <h6><b><span style="color: #b38e5d;">Celular:</span> 932 101 6516</span></b></h6>
                                </div>                        
                            </div>
                        </div>                        
                        
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                            <div class="icon-box">
                                <h4 style="text-align: center;">Tenosique</h4>
                                <div style="margin: 20px auto;">
                                    <h6><b><span style="color: #b38e5d;">Titular:</span> Lic. Ana Alicia Pinto Marín </b></h6>
                                    <h6><b><span style="color: #b38e5d;">Correo:</span> fomento2021.ecotur@gmail.com maliziapm07@gmail.com</b></h6>
                                    <h6><b><span style="color: #b38e5d;">Teléfono:</span> 934 342 5050 Exts: 149, 150</b></h6>
                                    <h6><b><span style="color: #b38e5d;">Celular:</span> 993 225 5871</b></h6>
                                </div>
                            </div>
                        </div>                                                   
                    </div>
                </div>
            </div>
        </section>
                
        </div>
    </div>
</div>
{% block footer %}
{% include 'bases/footer.html'%}
{% endblock %}
{% endblock %}
