{% extends 'bases/base.html' %}
{% load static %}
{% block body %}
{% include 'bases/navbar.html'%}
<section class="banner" style="margin-top: 5rem; position: relative;">
    <div class="carousel-caption" style="position: absolute; top: 55%; left: 50%; transform: translate(-50%, -50%); text-align: center; z-index: 1000; width: 100%;">
        <h1 style="font-size: calc(2vw + 1rem); font-weight: 900;">1. Etapa de constitución de una empresa</h1>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-block w-100" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{% static 'images/cerrar-abogado-abogado-trabajando-senalando_3535-144.png' %}'); height: 100vh; background-size: cover; background-position: center;"></div>
            </div>
        </div>
    </div>
</section>

<div style="background-color: #fff;">
    <div class="container">
        <div class="row row-spacing" style="padding-top: 4rem; padding-bottom: 4rem;">
            <div class="col-md-6 order-md-2 centered">
                <p style="font-size: 20px;"><b>Tramites y Servicios registrados</b></p>
            </div>
            <div class="col-md-6 order-md-1 centered">
                <p style="font-size: 20px;"><b>Realiza los trámites para constituir una empresa</b></p>
            </div>
        </div>

        <div class="row row-spacing">
            <div class="col-md-1 d-flex align-items-center justify-content-center">
                <div>
                    <h2 class="elementor-heading-title" style="color:black; border-right: 1px solid black; padding-right: 10px; padding-left: 10px; margin-bottom: 10px;">1</h2>
                </div>
            </div>
            <div class="col-md-7">
                <h2 class="elementor-heading-title">Inscripción al RFC</h2>
                <p><strong>Se realizan en: </strong>Módulos de Servicios Tributario más cercano</p>
                <div class="col-md-12 mb-2">
                    <strong>Nivel de gobierno:</strong>
                    <label class="label-custom">Administración Pública Federal</label>
                </div>
                <p>Permite la Inscripción en el RFC y obtener la Cédula de Identificación Fiscal que contiene la clave del Registro Federal de Contribuyentes.</p>
            </div>
            <div class="col-md-4 text-center">
                <img width="100" height="100" src="{% static 'images/unnamed.jpg' %}" class="attachment-large size-large" alt="" loading="lazy" style="margin-top: -14px;">
            </div>
            <div class="d-flex flex-wrap justify-content-center" style="margin-top: 20px;"> <!-- Agregado margin-top -->
                <button type="button" class="btn" style="background-color: #a4244d; color: #ffffff; margin-right: 10px; margin-bottom: 10px;" onclick="window.open('https://www.sat.gob.mx/empresas/directorio-nacional-de-modulos-de-servicios-tributarios', '_blank')">Módulos de Servicios Tributarios</button>
                <button type="button" class="btn" style="background-color: #a4244d; color: #ffffff; margin-right: 10px; margin-bottom: 10px;" onclick="window.open('https://www.sat.gob.mx/tramites/82714/realiza-tu-inscripcion-en-el-rfc-persona-fisica')">Persona física</button>
                <button type="button" class="btn" style="background-color: #a4244d; color: #ffffff; margin-right: 10px; margin-bottom: 10px;" onclick="window.open('https://www.sat.gob.mx/tramites/33804/inscribe-tu-empresa-en-el-rfc')">Persona Jurídico Colectivas</button>
                <button type="button" class="btn" style="background-color: #a4244d; color: #ffffff; margin-right: 10px; margin-bottom: 10px;" onclick="window.open('https://www.sat.gob.mx/tramites/97439/inscribete-en-el-rfc-como-persona-fisica-si-eres-extranjero')">Persona física extranjero</button>
            </div>
        </div>
        
        <div class="row row-spacing">
            <div class="col-md-1 d-flex align-items-center justify-content-center"> <!-- Agregado justify-content-center y d-flex -->
                <div>
                    <h2 class="elementor-heading-title" style="color:black; border-right: 1px solid black; padding-right: 10px; padding-left: 10px; margin-bottom: 10px;">2</h2> <!-- Ajuste del padding-right y padding-left para alargar la línea -->
                </div>
            </div>
            <div class="col-md-7">
                <h2 class="elementor-heading-title">Obtén tu certificado de e.firma</h2>
                <p><strong>Se realizan en: </strong>Lugar de Servicios más cercano</p>
                <div class="col-md-12 mb-2">
                    <strong>Nivel de gobierno:</strong>
                    <label class="label-custom">Administración Pública Federal</label>
                </div>
                <p>Te permite obtener tu Certificado Digital de e.firma por primera vez.</p>
            </div>
            <div class="col-md-4 text-center">
                <img width="100" height="100" src="{% static 'images/unnamed.jpg' %}" class="attachment-large size-large" alt="" loading="lazy" style="margin-top: -14px;">
            </div>
            <div class="d-flex flex-wrap justify-content-center" style="margin-top: 20px;"> <!-- Agregado margin-top -->
                <button type="button" class="btn" style="background-color: #a4244d; color: #ffffff; margin-right: 10px; margin-bottom: 10px;" onclick="window.open('https://www.sat.gob.mx/empresas/directorio-nacional-de-modulos-de-servicios-tributarios', '_blank')">Módulos de Servicios Tributarios</button>
                <button type="button" class="btn" style="background-color: #a4244d; color: #ffffff; margin-right: 10px; margin-bottom: 10px;" onclick="window.open('https://www.sat.gob.mx/tramites/16703/obten-tu-certificado-de-e.firma')">Comenzar Tramíte en linea</button>
            </div>
        </div>

        <div class="row row-spacing">
            <div class="col-md-1 d-flex align-items-center justify-content-center"> <!-- Agregado justify-content-center y d-flex -->
                <div>
                    <h2 class="elementor-heading-title" style="color:black; border-right: 1px solid black; padding-right: 10px; padding-left: 10px; margin-bottom: 10px;">3</h2> <!-- Ajuste del padding-right y padding-left para alargar la línea -->
                </div>
            </div>
            <div class="col-md-7">
                <h2 class="elementor-heading-title">Autorización de uso de denominación o razón social</h2>
                <p><strong>Se realizan en: </strong>Lugar de Servicios más cercano</p>
                <div class="col-md-12 mb-2">
                    <strong>Nivel de gobierno:</strong>
                    <label class="label-custom">Administración Pública Federal</label>
                </div>
                <p>Es la resolución favorable emitida por la Secretaría de Economía que faculta a un solicitante para hacer uso de una denominación o razón social.</p>
            </div>
            <div class="col-md-4 text-center">
                <img width="100" height="100" src="{% static 'images/descarga.png' %}" class="attachment-large size-large" alt="" loading="lazy" style="margin-top: -14px;">
            </div>
            <div class="d-flex flex-wrap justify-content-center" style="margin-top: 20px;"> <!-- Agregado margin-top -->
                <button type="button" class="btn" style="background-color: #a4244d; color: #ffffff; margin-right: 10px; margin-bottom: 10px;" onclick="window.open('https://mua.economia.gob.mx/mua-web/muaHome')">Comenzar Tramíte en linea</button>
                <button type="button" class="btn" style="background-color: #a4244d; color: #ffffff; margin-right: 10px; margin-bottom: 10px;" onclick="window.open('https://catalogonacional.gob.mx/FichasPdf/Tr%C3%A1mite_47106_Homoclave_SE-09-041.pdf')">Descargar PDF</button>
            </div>
        </div>

        <div class="row row-spacing">
            <div class="col-md-1 d-flex align-items-center justify-content-center"> <!-- Agregado justify-content-center y d-flex -->
                <div>
                    <h2 class="elementor-heading-title" style="color:black; border-right: 1px solid black; padding-right: 10px; padding-left: 10px; margin-bottom: 10px;">4</h2> <!-- Ajuste del padding-right y padding-left para alargar la línea -->
                </div>
            </div>
            <div class="col-md-7">
                <h2 class="elementor-heading-title">Constitución de una sociedad con fines industriales, comerciales o de servicios</h2>
                <p><strong>Se realizan en: </strong>Lugar de Servicios más cercano</p>
                <div class="col-md-12 mb-2">
                    <strong>Nivel de gobierno:</strong>
                    <label class="label-custom">Administración Pública Federal</label>
                </div>
                <p>La constitución de una sociedad la podemos establecer como la libre asociación de cualquier persona física que legalmente pueda obligarse a contraer responsabilidades en cualquiera de los sectores y tener derechos, puede con libertad establecerse como empresario, es decir, crear su negocio, cumpliendo adicionalmente con las disposiciones del código de comercio.</p>
            </div>
            <div class="col-md-4 text-center">
                <img width="100" height="100" src="{% static 'images/descarga-1.png' %}" class="attachment-large size-large" alt="" loading="lazy" style="margin-top: -14px;">
            </div>
            <div class="d-flex flex-wrap justify-content-center" style="margin-top: 20px;"> <!-- Agregado margin-top -->
                <button type="button" class="btn" style="background-color: #a4244d; color: #ffffff; margin-right: 10px; margin-bottom: 10px;" onclick="window.open('https://www.notariadomexicano.org.mx/directorio-de-notarios/tabasco/')">Directorio de Notarios</button>
            </div>
        </div>

        <div class="row row-spacing">
            <div class="col-md-1 d-flex align-items-center justify-content-center"> <!-- Agregado justify-content-center y d-flex -->
                <div>
                    <h2 class="elementor-heading-title" style="color:black; border-right: 1px solid black; padding-right: 10px; padding-left: 10px; margin-bottom: 10px;">5</h2> <!-- Ajuste del padding-right y padding-left para alargar la línea -->
                </div>
            </div>
            <div class="col-md-7">
                <h2 class="elementor-heading-title">Inscripción de Obligaciones Fiscales en el padrón de contribuyentes Estatales</h2>
                <p><strong>Se realizan en: </strong>Lugar de Servicios más cercano</p>
                <div class="col-md-12 mb-2">
                    <strong>Nivel de gobierno:</strong>
                    <label class="label-custom">Administración Pública Federal</label>
                </div>
                <p>Inscripción al padrón de contribuyentes a los impuestos estatales mediante el portal de Registro de Contribuyentes Online.</p>
            </div>
            <div class="col-md-4 text-center">
                <img width="220" height="66" src="{% static 'images/Secretaria-de-Finanzas.png' %}" class="attachment-large size-large" alt="" loading="lazy" style="margin-top: -14px;">
            </div>
            <div class="d-flex flex-wrap justify-content-center" style="margin-top: 20px;"> <!-- Agregado margin-top -->
                <button type="button" class="btn" style="background-color: #a4244d; color: #ffffff; margin-right: 10px; margin-bottom: 10px;" onclick="window.open('https://servicios.spf.tabasco.gob.mx/re_serviciosinternet/faces/servicios?_adf.ctrl-state=dmpxbgew9_3')">Comenzar Tramíte en linea</button>
                <button type="button" class="btn" style="background-color: #a4244d; color: #ffffff; margin-right: 10px; margin-bottom: 10px;" onclick="window.open('https://catalogonacional.gob.mx/FichasPdf/Tr%C3%A1mite_40160_Homoclave_SF-2021-5421-017-A.pdf')">Descargar PDF</button>
            </div>
        </div>

        <div class="row row-spacing">
            <div class="col-md-1 d-flex align-items-center justify-content-center"> <!-- Agregado justify-content-center y d-flex -->
                <div>
                    <h2 class="elementor-heading-title" style="color:black; border-right: 1px solid black; padding-right: 10px; padding-left: 10px; margin-bottom: 10px;">6</h2> <!-- Ajuste del padding-right y padding-left para alargar la línea -->
                </div>
            </div>
            <div class="col-md-7">
                <h2 class="elementor-heading-title">Inscripción de Obligaciones Fiscales en el padrón de contribuyentes Estatales</h2>
                <p><strong>Se realizan en: </strong>Lugar de Servicios más cercano</p>
                <div class="col-md-12 mb-2">
                    <strong>Nivel de gobierno:</strong>
                    <label class="label-custom">Administración Pública Federal</label>
                </div>
                <p>Inscripción al padrón de contribuyentes a los impuestos estatales mediante el portal de Registro de Contribuyentes Online.</p>
            </div>
            <div class="col-md-4 text-center">
                <img width="220" height="66" src="{% static 'images/Secretaria-de-Finanzas.png' %}" class="attachment-large size-large" alt="" loading="lazy" style="margin-top: -14px;">
            </div>
            <div class="d-flex flex-wrap justify-content-center" style="margin-top: 20px;"> <!-- Agregado margin-top -->
                <button type="button" class="btn" style="background-color: #a4244d; color: #ffffff; margin-right: 10px; margin-bottom: 10px;" onclick="window.open('https://servicios.spf.tabasco.gob.mx/re_serviciosinternet/faces/servicios?_adf.ctrl-state=dmpxbgew9_27')">Módulos de Servicios Tributarios</button>
                <button type="button" class="btn" style="background-color: #a4244d; color: #ffffff; margin-right: 10px; margin-bottom: 10px;" onclick="window.open('https://catalogonacional.gob.mx/FichasPdf/Tr%C3%A1mite_40161_Homoclave_SF-2021-5421-018-A.pdf')">Persona física</button>
            </div>
        </div>
    </div>
</div>


<!-- <div style="background-color: #f2f2f2;">
    <div class="container">
        <div class="row" style="padding-top: 4rem; padding-bottom: 4rem;">
            <div class="col-md-6 order-md-2 col-lg-6 centered">
                <p style="font-size: 20px;">Tramites y Servicios registrados</p>    
            </div>
            
            <div class="col-md-6 order-md-1 col-lg-6 align-items-esencia">
                <p style="font-size: 20px;">Realiza los trámites para constituir una empresa</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-1">
                <div class="d-flex align-items-center">
                    <h2 class="elementor-heading-title elementor-size-default" style="color:black; border-right: 1px solid black; padding-right: 5px;">1</h2>
                </div>
            </div>
            <div class="col-md-7">
                <h2 class="elementor-heading-title elementor-size-default">Inscripción al RFC</h2>
                <p><strong>Se realizan en: </strong>Módulos de Servicios Tributario más cercano</p>
                <div class="col-md-12 mb-2">
                    <strong>Nivel de gobierno:</strong>&nbsp;&nbsp;
                    <label class="stylenivelgob styleentidad" style="display: inline-block; margin-right: 15px; margin-left: 5px; padding: 4px 8px; border-radius: 28px; color: #ffffff; font-weight: bold; background-color: #925e78; font-size: 12px;">Administración Pública Federal</label>
                </div>
                <p>Permite la Inscripción en el RFC y obtener la Cédula de Identificación Fiscal que contiene la clave del Registro Federal de Contribuyentes.</p>
            </div>
            <div class="col-md-4">
                <img width="100" height="100" src="{% static 'images/unnamed.jpg' %}" class="attachment-large size-large" alt="" loading="lazy">
            </div>
        </div>
    </div>
</div> -->
{% block footer %}
{% include 'bases/footer.html'%}
{% endblock %}
{% endblock %}
