{% extends 'bases/base.html' %}
{% load static %}
{% block body %}
{% include 'bases/navbar.html'%}
<div style="background-color: #fff; margin-top: 5rem;">
    <div class="container" style="padding-bottom: 5rem;">
        <div style="padding: 4rem 0rem;">
            <div class="col-12 text-center">

                <h2 style="color: #9d2449; margin-bottom: 2rem;" class="title-section">Directorio de la Secretaría para el Desarrollo Económico y la Competitividad.</h2>
                </div>
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <div class="card text-center oval-card">
                                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                    <a class="card-text" type="button" data-bs-toggle="modal" data-bs-target="#mo1"><b>SECRETARÍA PARA EL DESARROLLO ECONÓMICO Y LA COMPETITIVIDAD</b></a>
                                </div>
                            </div>
                        </div>    
                        
                        <div class="col-md-3 mb-3">
                            <div class="card text-center oval-card">
                                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                    <a class="card-text" type="button" data-bs-toggle="modal" data-bs-target="#mo2" class="card-text"><b>SUBSECRETARÍA DE PROMOCIÓN Y ATRACCIÓN DE INVERSIONES</b></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 mb-3">
                            <div class="card text-center oval-card">
                                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                    <a class="card-text" type="button" data-bs-toggle="modal" data-bs-target="#mo3"  class="card-text"><b>SUBSECRETARÍA DE DESARROLLO ECONÓMICO</b></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 mb-3">
                            <div class="card text-center oval-card">
                                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                    <a class="card-text" type="button" data-bs-toggle="modal" data-bs-target="#mo4"  class="card-text"><b>COMISIÓN ESTATAL DE MEJORA REGULATORIA </b></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 mb-3">
                            <div class="card text-center oval-card">
                                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                    <a class="card-text" type="button" data-bs-toggle="modal" data-bs-target="#mo5"><b>DIRECCIÓN DE IMPULSO A LA CALIDAD DE PRODUCTOS Y SERVICIOS</b></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-3 mb-3">
                            <div class="card text-center oval-card">
                                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                    <a class="card-text" type="button" data-bs-toggle="modal" data-bs-target="#mo6"><b>DIRECCIÓN DE INVERSIÓN Y FOMENTO INDUSTRIAL</b></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-3 mb-3">
                            <div class="card text-center oval-card">
                                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                    <a class="card-text" type="button" data-bs-toggle="modal" data-bs-target="#mo7"><b>DIRECCIÓN DE COMERCIO Y ABASTO</b></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-3 mb-3">
                            <div class="card text-center oval-card">
                                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                    <a class="card-text" type="button" data-bs-toggle="modal" data-bs-target="#mo8"><b>DIRECCIÓN DE FOMENTO A LA MICRO, PEQUEÑA Y MEDIANA EMPRESA</b></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-3 mb-3">
                            <div class="card text-center oval-card">
                                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                    <a class="card-text" type="button" data-bs-toggle="modal" data-bs-target="#mo9"><b>DIRECCIÓN DE INNOVACIÓN Y DESARROLLO TECNOLÓGICO</b></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-3 mb-3">
                            <div class="card text-center oval-card">
                                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                    <a class="card-text" type="button" data-bs-toggle="modal" data-bs-target="#mo10"><b>DIRECCIÓN DE DESARROLLO REGIONAL E IMPULSO A LA COMPETITIVIDAD</b></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-3 mb-3">
                            <div class="card text-center oval-card">
                                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                    <a class="card-text" type="button" data-bs-toggle="modal" data-bs-target="#mo11"><b>DIRECCIÓN DE EMPRENDIMIENTO Y DESARROLLO EMPRESARIAL</b></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-3 mb-3">
                            <div class="card text-center oval-card">
                                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                    <a class="card-text" type="button" data-bs-toggle="modal" data-bs-target="#mo12"><b>DIRECCIÓN GENERAL DE FONDOS DE FINANCIAMIENTO</b></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-3 mb-3">
                            <div class="card text-center oval-card">
                                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                    <a class="card-text" type="button" data-bs-toggle="modal" data-bs-target="#mo13"><b>DIRECCIÓN DE DESARROLLO INDUSTRIAL</b></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-3 mb-3">
                            <div class="card text-center oval-card">
                                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                    <a class="card-text" type="button" data-bs-toggle="modal" data-bs-target="#mo14"><b>DIRECCIÓN EMPRESARIAL</b></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-3 mb-3">
                            <div class="card text-center oval-card">
                                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                    <a class="card-text" type="button" data-bs-toggle="modal" data-bs-target="#mo15"><b>DIRECCIÓN DE FOMENTO Y COMPETITIVIDAD DE LAS EMPRESAS</b></a>
                                </div>
                            </div>
                        </div>
                        

                        <!-- Modal 1 -->
                        <div class="modal fade" id="mo1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl modal-dialog-centered" style="max-width: 95%;">
                                <div class="modal-content">
                                    <div class="modal-header text-center">
                                        <h1 class="modal-title fs-5 w-100" id="exampleModalLabel" style="font-weight: bold;">SECRETARÍA PARA EL DESARROLLO ECONÓMICO Y LA COMPETITIVIDAD</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" style="font-size: 1.2rem;">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <img src="{% static 'images/ing-mallitz.jpeg' %}" alt="Ing. José Friedrich García Mallitz" style="margin-bottom: 20px; max-width: 150px; display: block; margin-left: auto; margin-right: auto;">
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>TITULAR</strong><br>Ing. José Friedrich García Mallitz</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>DIRECCIÓN</strong><br>Prol. de Paseo Tabasco No.1504<br>Col. Tabasco 2000<br>C.P. 86035 Villahermosa, Tabasco, MX.</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>TELÉFONO</strong><br>+52 (993) 3 10 97 50 Ext. 48002</p>
                                                <p><strong>CORREO</strong><br><a href="mailto:federicogarciam@tabasco.gob.mx">federicogarciam<br>@tabasco.gob.mx</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Modal 2 -->
                        <div class="modal fade" id="mo2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl modal-dialog-centered" style="max-width: 95%;">
                                <div class="modal-content">
                                    <div class="modal-header text-center">
                                        <h1 class="modal-title fs-5 w-100" id="exampleModalLabel" style="font-weight: bold;">SUBSECRETARÍA DE PROMOCIÓN Y ATRACCIÓN DE INVERSIONES</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" style="font-size: 1.2rem;">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <p><strong>TITULAR</strong><br>Lic. Carla Bustillos Rodriguez</p>
                                                </div>
                                                <div class="col-md-3">
                                                    <p><strong>DIRECCIÓN</strong><br>Prol. de Paseo Tabasco No.1504<br>Col. Tabasco 2000<br>C.P. 86035 Villahermosa, Tabasco, MX.</p>
                                                </div>
                                                <div class="col-md-3">
                                                    <p><strong>TELÉFONO</strong><br>993 310 9750 Ext. 48032</p>
                                                </div>
                                                <div class="col-md-3">
                                                    <p><strong>CORREO</strong><br><a href="mailto:carlabustillos@tabasco.gob.mx">carlabustillos<br>@tabasco.gob.mx</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Modal 3 -->
                        <div class="modal fade" id="mo3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl modal-dialog-centered" style="max-width: 95%;">
                                <div class="modal-content">
                                    <div class="modal-header text-center">
                                        <h1 class="modal-title fs-5 w-100" id="exampleModalLabel" style="font-weight: bold;">SUBSECRETARÍA DE DESARROLLO ECONÓMICO</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" style="font-size: 1.2rem;">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p><strong>TITULAR</strong><br>Lic. Juan Antonio Torres Báez</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>DIRECCIÓN</strong><br>Prol. de Paseo Tabasco No.1504<br>Col. Tabasco 2000<br>C.P. 86035 Villahermosa, Tabasco, MX.</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>TELÉFONO</strong><br>993 310 9750 Ext. 48111</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>CORREO</strong><br><a href="mailto:juantorres@tabasco.gob.mx">juantorres@tabasco.gob.mx</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal 4 -->
                        <div class="modal fade" id="mo4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl modal-dialog-centered" style="max-width: 95%;">
                                <div class="modal-content">
                                    <div class="modal-header text-center">
                                        <h1 class="modal-title fs-5 w-100" id="exampleModalLabel" style="font-weight: bold;">COMISIÓN ESTATAL DE MEJORA REGULATORIA</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" style="font-size: 1.2rem;">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p><strong>TITULAR</strong><br>Fabiola Mercedes Aguilar Alfonso</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>DIRECCIÓN</strong><br>Prol. de Paseo Tabasco No.1504<br>Col. Tabasco 2000<br>C.P. 86035 Villahermosa, Tabasco, MX.</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>TELÉFONO</strong><br>+52 (993) 3 10 97 50 Ext. 48062</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>CORREO</strong><br><a href="mailto:comisionado.cemer@tabasco.gob.mx">comisionado.cemer<br>@tabasco.gob.mx</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal 5 -->
                        <div class="modal fade" id="mo5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl modal-dialog-centered" style="max-width: 95%;">
                                <div class="modal-content">
                                    <div class="modal-header text-center">
                                        <h1 class="modal-title fs-5 w-100" id="exampleModalLabel" style="font-weight: bold;">DIRECCIÓN DE IMPULSO A LA CALIDAD DE PRODUCTOS Y SERVICIOS</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" style="font-size: 1.2rem;">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p><strong>TITULAR</strong><br>Lic. Adausto García Pérez</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>DIRECCIÓN</strong><br>Prol. de Paseo Tabasco No.1504<br>Col. Tabasco 2000<br>C.P. 86035 Villahermosa, Tabasco, MX.</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>TELÉFONO</strong><br>993 310 9750 Ext. 48032</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>CORREO</strong><br><a href="mailto:comisionado.cemer@tabasco.gob.mx">comisionado.cemer<br>@tabasco.gob.mx</a></p>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal 6 -->
                        <div class="modal fade" id="mo6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl modal-dialog-centered" style="max-width: 95%;">
                                <div class="modal-content">
                                    <div class="modal-header text-center">
                                        <h1 class="modal-title fs-5 w-100" id="exampleModalLabel" style="font-weight: bold;">DIRECCIÓN DE INVERSIÓN Y FOMENTO INDUSTRIAL</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" style="font-size: 1.2rem;">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p><strong>TITULAR</strong><br>Lic. Jorge Adolfo Estrada Taracena</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>DIRECCIÓN</strong><br>Prol. de Paseo Tabasco No.1504<br>Col. Tabasco 2000<br>C.P. 86035 Villahermosa, Tabasco, MX.</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>TELÉFONO</strong><br>310 9750 Ext. 48221</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>CORREO</strong><br><a href="mailto:jorgeestrada@tabasco.gob.mx">jorgeestrada<br>@tabasco.gob.mx</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal 7 -->
                        <div class="modal fade" id="mo7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl modal-dialog-centered" style="max-width: 95%;">
                                <div class="modal-content">
                                    <div class="modal-header text-center">
                                        <h1 class="modal-title fs-5 w-100" id="exampleModalLabel" style="font-weight: bold;">DIRECCIÓN DE COMERCIO Y ABASTO</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" style="font-size: 1.2rem;">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p><strong>TITULAR</strong><br>Lic. Luvia Adriana García Ramón</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>DIRECCIÓN</strong><br>Prol. de Paseo Tabasco No.1504<br>Col. Tabasco 2000<br>C.P. 86035 Villahermosa, Tabasco, MX.</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>TELÉFONO</strong><br>310 9750 Ext. 48211</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>CORREO</strong><br><a href="mailto:luviagarcia@tabasco.gob.mx">luviagarcia@tabasco.gob.mx</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal 8 -->
                        <div class="modal fade" id="mo8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl modal-dialog-centered" style="max-width: 95%;">
                                <div class="modal-content">
                                    <div class="modal-header text-center">
                                        <h1 class="modal-title fs-5 w-100" id="exampleModalLabel" style="font-weight: bold;">DIRECCIÓN DE FOMENTO A LA MICRO, PEQUEÑA Y MEDIANA EMPRESA</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" style="font-size: 1.2rem;">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p><strong>TITULAR</strong><br>Mtra. Fabiola Vázquez Méndez</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>DIRECCIÓN</strong><br>Prol. de Paseo Tabasco No.1504<br>Col. Tabasco 2000<br>C.P. 86035 Villahermosa, Tabasco, MX.</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>TELÉFONO</strong><br>993 310 9750 Ext. 48121</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>CORREO</strong><br><a href="mailto:fabiolavazquez@tabasco.gob.mx">fabiolavazquez<br>@tabasco.gob.mx</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal 9 -->
                        <div class="modal fade" id="mo9" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl modal-dialog-centered" style="max-width: 95%;">
                                <div class="modal-content">
                                    <div class="modal-header text-center">
                                        <h1 class="modal-title fs-5 w-100" id="exampleModalLabel" style="font-weight: bold;">DIRECCIÓN DE INNOVACIÓN Y DESARROLLO TECNOLÓGICO</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" style="font-size: 1.2rem;">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p><strong>TITULAR</strong><br>L.A. Gerardo González Martínez</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>DIRECCIÓN</strong><br>Prol. de Paseo Tabasco No.1504<br>Col. Tabasco 2000<br>C.P. 86035 Villahermosa, Tabasco, MX.</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>TELÉFONO</strong><br>993 310 9750 Ext. 48041</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>CORREO</strong><br><a href="mailto:gerardogonzalez@tabasco.gob.mx">gerardogonzalez<br>@tabasco.gob.mx</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal 10 -->
                        <div class="modal fade" id="mo10" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl modal-dialog-centered" style="max-width: 95%;">
                                <div class="modal-content">
                                    <div class="modal-header text-center">
                                        <h1 class="modal-title fs-5 w-100" id="exampleModalLabel" style="font-weight: bold;">DIRECCIÓN DE DESARROLLO REGIONAL E IMPULSO A LA COMPETITIVIDAD</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" style="font-size: 1.2rem;">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p><strong>TITULAR</strong><br>Mtro. Guillermo Jauregui Molina</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>DIRECCIÓN</strong><br>Prol. de Paseo Tabasco No.1504<br>Col. Tabasco 2000<br>C.P. 86035 Villahermosa, Tabasco, MX.</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>TELÉFONO</strong><br>993 310 9750 Ext. 48041</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>CORREO</strong><br><a href="mailto:guillermojauregui@tabasco.gob.mx">guillermojauregui<br>@tabasco.gob.mx</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal 11 -->
                        <div class="modal fade" id="mo11" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl modal-dialog-centered" style="max-width: 95%;">
                                <div class="modal-content">
                                    <div class="modal-header text-center">
                                        <h1 class="modal-title fs-5 w-100" id="exampleModalLabel" style="font-weight: bold;">DIRECCIÓN DE EMPRENDIMIENTO Y DESARROLLO EMPRESARIAL</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" style="font-size: 1.2rem;">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p><strong>TITULAR</strong><br>Lic. Rafael de Jesús Echeverría Fuentes</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>DIRECCIÓN</strong><br>Prol. de Paseo Tabasco No.1504<br>Col. Tabasco 2000<br>C.P. 86035 Villahermosa, Tabasco, MX.</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>TELÉFONO</strong><br>993 310 9750 Ext. 48073</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>CORREO</strong><br><a href="mailto:rafaelecheverria@tabasco.gob.mx">rafaelecheverria<br>@tabasco.gob.mx</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal 12 -->
                        <div class="modal fade" id="mo12" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl modal-dialog-centered" style="max-width: 95%;">
                                <div class="modal-content">
                                    <div class="modal-header text-center">
                                        <h1 class="modal-title fs-5 w-100" id="exampleModalLabel" style="font-weight: bold;">DIRECCIÓN GENERAL DE FONDOS DE FINANCIAMIENTO</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" style="font-size: 1.2rem;">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p><strong>TITULAR</strong><br>L.C.P. Gustavo Álvarez Larios</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>DIRECCIÓN</strong><br>Prol. de Paseo Tabasco No.1504<br>Col. Tabasco 2000<br>C.P. 86035 Villahermosa, Tabasco, MX.</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>TELÉFONO</strong><br>993 310 9750 Ext. 48082</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>CORREO</strong><br><a href="mailto:gustavoalvarez@tabasco.gob.mx">gustavoalvarez<br>@tabasco.gob.mx</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal 13 -->
                        <div class="modal fade" id="mo13" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl modal-dialog-centered" style="max-width: 95%;">
                                <div class="modal-content">
                                    <div class="modal-header text-center">
                                        <h1 class="modal-title fs-5 w-100" id="exampleModalLabel" style="font-weight: bold;">DIRECCIÓN DE DESARROLLO INDUSTRIAL</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" style="font-size: 1.2rem;">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p><strong>TITULAR</strong><br>L.A. Karla Mariana Calzada Pérez</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>DIRECCIÓN</strong><br>Prol. de Paseo Tabasco No.1504<br>Col. Tabasco 2000<br>C.P. 86035 Villahermosa, Tabasco, MX.</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>TELÉFONO</strong><br>993 310 9750 Ext. 48082</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>CORREO</strong><br><a href="mailto:karlacalzada@tabasco.gob.mx">karlacalzada<br>@tabasco.gob.mx</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal 14 -->
                        <div class="modal fade" id="mo14" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl modal-dialog-centered" style="max-width: 95%;">
                                <div class="modal-content">
                                    <div class="modal-header text-center">
                                        <h1 class="modal-title fs-5 w-100" id="exampleModalLabel" style="font-weight: bold;">DIRECCIÓN EMPRESARIAL</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" style="font-size: 1.2rem;">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p><strong>TITULAR</strong><br>Lic. María Criste Sánchez Álvarez</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>DIRECCIÓN</strong><br>Prol. de Paseo Tabasco No.1504<br>Col. Tabasco 2000<br>C.P. 86035 Villahermosa, Tabasco, MX.</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>TELÉFONO</strong><br>993 310 9750 Ext. 48031</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>CORREO</strong><br><a href="mailto:fetsedec@gmail.com">fetsedec@gmail.com</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal 15 -->
                        <div class="modal fade" id="mo15" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl modal-dialog-centered" style="max-width: 95%;">
                                <div class="modal-content">
                                    <div class="modal-header text-center">
                                        <h1 class="modal-title fs-5 w-100" id="exampleModalLabel" style="font-weight: bold;">DIRECCIÓN DE FOMENTO Y COMPETITIVIDAD DE LAS EMPRESAS</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" style="font-size: 1.2rem;">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p><strong>TITULAR</strong><br>Lic. Reyna María Riqué Correa</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p><strong>DIRECCIÓN</strong><br>Prol. de Paseo Tabasco No.1504<br>Col. Tabasco 2000<br>C.P. 86035 Villahermosa, Tabasco, MX.</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><strong>TELÉFONO</strong><br>993 310 9750 Ext. 48083</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p><strong>CORREO</strong><br><a href="mailto:reynarique@tabasco.gob.mx">reynarique@tabasco.gob.mx</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
        </div>
    </div>
</div>
{% block footer %}
{% include 'bases/footer.html'%}
{% endblock %}
{% endblock %}
