{% extends 'bases/base.html' %}
{% load static %}
{% block head %}

{% comment %} Herramienta integra-2 {% endcomment %}


{% endblock %}

{% block body %}
{% include 'bases/navbar.html'%}

{% comment %} Herramienta integra-2 {% endcomment %}

<script
    src="https://www.infomexsinaloa.org/accesibilidadweb/js_api.aspx?api_key=4309083D-5F25-4BDC-83B3-DDFF18CACA31&tipo=body&aut=https://tabasco.gob.mx/sedec"
    type="text/javascript"></script>

{% block navbar %}



{% endblock %}

{% block banner %}

{% comment %} Iconos flotantes redes sociales {% endcomment %}
<div class="float-right">
    <a href="https://www.instagram.com/sedec_tab/" target="_blank">
        <img class="icons-redes" src="{% static 'images/instanuevo.png' %}">
    </a>

    <a href="https://www.facebook.com/sedec.tab/" target="_blank">
        <img class="icons-redes" src="{% static 'images/face.png' %}">
    </a>

    <a href="https://twitter.com/SEDEC_Tab" target="_blank">
        <img class="icons-redes" src="{% static 'images/twitternuevo.png' %}">
    </a>

    <a href="https://www.tiktok.com/@sedec_tabasco" target="_blank">
        <img class="icons-redes" src="{% static 'images/tiktok.png' %}">
    </a>

    <a href="https://www.youtube.com/channel/UCi9LG4z1j0hwppq8-vrnYpQ" target="_blank">
        <img class="icons-redes" src="{% static 'images/youtubenew.png' %}">
    </a>
</div>  
{% comment %} 
<section class="banner" style="margin-top: 5rem;">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-indicators">
            {% for resultbanner in resultbanners %}
            <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" {% endif %}
                aria-label="Slide {{ forloop.counter }}"></button>
            {% endfor %}
        </div>
        
        <div class="carousel-inner">
            {% for resultbanner in resultbanners %}
            <div class=" carousel-item {% if forloop.first %} active {% endif %}" style="background-image: url({{resultbanner.images_c.url}})">
                <div class="container cont-h-sh">

                    <div class="container-sub-btn">
                        <div class="glass">
                            <h4 class="subt-margin-size text-white font-weight-bold ">{{ resultbanner.titulo }}</h4>
                            
                            <a class="btn-carousel" {% if resultbanner.enlace_bp %} href="{{ resultbanner.enlace_bp }}" target="_blank"
                            {% elif resultbanner.newsletter %} href="{{ resultbanner.newsletter.url }}" download
                            {% else %} href="#programasactivos" {% endif %}>{{ resultbanner.titulo_bp }} &nbsp; <i class="fas fa-arrow-down"></i></a>
                                 
                        </div>
                        
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>


    </div>

</section>
{% endcomment %}
<section class="banner" style="margin-top: 5rem; position: relative;">
    <div class="carousel-caption text-center" style="margin-top: 20px;">
        <p class="h6">SECRETARÍA PARA EL DESARROLLO ECONÓMICO Y LA COMPETITIVIDAD</p>
        <div class="linea-blanca mx-auto"></div>
        <h1 class="display-4" style="margin-top: 10px;">CATÁLOGO DE TRÁMITES EMPRESARIALES</h1>
    </div>        
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-block w-100" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{% static 'images/banner4C.png' %}'); height: 100vh; background-size: cover; background-position: center;"></div>
            </div>
            <div class="carousel-item">
                <div class="d-block w-100" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{% static 'images/banner5C.png' %}'); height: 100vh; background-size: cover; background-position: center;"></div>
            </div>
            <div class="carousel-item">
                <div class="d-block w-100" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{% static 'images/banner6C.png' %}'); height: 100vh; background-size: cover; background-position: center;"></div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev" style="width: 10% !important;">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next" style="width: 10% !important;">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<div class="container" style="padding-bottom: 5rem;">
    <div style="padding: 4rem 0rem;">
        <div class="col-12 text-center">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <div class="card text-center oval-card">
                            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                <i class="fa-solid fa-magnifying-glass" style="font-size: 48px; color: #b38e5d;"></i>
                                <a href="{% url 'lp:constitucion' %}" target="_blank" class="card-text"><b>CONSTITUCIÓN</b></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card text-center oval-card">
                            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                <i class="fa-regular fa-lightbulb" style="font-size: 48px; color: #b38e5d;"></i>
                                <a href="{% url 'lp:infraestructura' %}" target="_blank" class="card-text"><b>INFRAESTRUCTURA Y SERVICIOS</b></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card text-center oval-card">
                            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                <i class="fa-solid fa-person-walking" style="font-size: 48px; color: #b38e5d;"></i>
                                <a href="{% url 'lp:operaciones' %}" target="_blank" class="card-text"><b>INICIO DE OPERACIONES</b></a>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-3 mb-3">
                        <div class="card text-center oval-card">
                            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                <i class="fa-solid fa-file-lines" style="font-size: 48px; color: #b38e5d;"></i>
                                <a  target="_blank" class="card-text">OTROS TRÁMITES</a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block main %}
<div style="background-color: #fff; margin-top: 5rem;">
    <div class="container" style="padding-bottom: 5rem;">
        <div style="padding: 4rem 0rem;">
            <div class="col-12 text-center">

            <h2 style="color: #b38e5d; margin-bottom: 2rem;" class="title-section">¿Qué es el catálogo de Trámites Empresariales?</h2>
            </div>
            <div class="centered" style="text-align: center;">
                <div style="display: flex; justify-content: center;">
                    <p class="text-sec-reslt" style="font-size: 24px;">Plataforma digital que muestra los Trámites y Servicios Estatales, Municipales y Federales necesarios para constituir, incorporar infraestructura y servicios, e Inicio de operaciones para una empresa.</p>
                </div>
            </div>
            
        </div>
        <div class="linea-vino"></div>

    </div>
</div>
<div class="container">
    <div class="row" style="padding-bottom: 4rem;">
        <div class="col-12 text-center">
            <h2 style="color: #b38e5d; margin-bottom: 2rem;" class="title-section">CONOCE EL PERFIL DEL ESTADO</h2>
        </div>
        <div class="centered d-flex justify-content-center">
            <a href="{% static 'pdf/perfil-estado.pdf' %}" download="perfil-estado.pdf" style="display: inline-block; margin-right: 10px;">
                <img src="{% static 'images/Perfil-del-Estado-1-791x1024.jpeg' %}" alt="Primera Imagen" class="img-fluid separacion-imagen" style="max-width: 100%; width: 400px;">
            </a>
            <a href="{% static 'pdf/state-tabasco.pdf' %}" download="state-tabasco.pdf" style="display: inline-block; margin-left: 10px;">
                <img src="{% static 'images/State-Profile-1-791x1024.jpeg' %}" alt="Segunda Imagen" class="img-fluid separacion-imagen" style="max-width: 100%; width: 400px;">
            </a>
        </div>
        <div class="linea-vino"></div>
    </div>
</div>
<div id="casosexito"></div>
{% endblock %}
{% block footer %}
{% include 'bases/footer.html'%}
{% endblock %}
<script
    src="https://www.infomexsinaloa.org/accesibilidadweb/js_api.aspx?api_key=4309083D-5F25-4BDC-83B3-DDFF18CACA31&tipo=footer&aut=https://tabasco.gob.mx/sedec"
    type="text/javascript">
</script>
<script>
    var miDiv = document.querySelector('.float-right');
    var isMobile = window.matchMedia('(max-width: 1039px)').matches;
    if (isMobile) {
        window.addEventListener('scroll', function () {
            miDiv.classList.add('hide');
            setTimeout(function () {
                miDiv.remove();
            }, 500);
        });
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/js/splide.min.js"></script>
<script>
    var splide1 = new Splide('.splide1', {
        type: 'loop',
        perPage: 3,
        rewind: true,
        breakpoints: {
            991: {
                perPage: 2,
                gap: '.7rem',
                height: '12rem',
            },
            650: {
                perPage: 1,
                gap: '.7rem',
                height: '12rem',
            },
        },
    });
    splide1.mount();

    var splide2 = new Splide('.splide2', {
        type: 'loop',
        perPage: 3,
        rewind: true,
        breakpoints: {
            991: {
                perPage: 2,
                gap: '.7rem',
                height: '12rem',
            },
            650: {
                perPage: 1,
                gap: '.7rem',
                height: '12rem',
            },
        },
    });
    splide2.mount();
</script>
{% endblock %}
